* {
  box-sizing: border-box;
}

.container .p{

  width: 300px;
}

.container {
  /* width: 1440px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.container {
  width: 800px;
}
